@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection {
    background-color: #FF6994;
}

body {
    font: var(--sans-font);
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
}

span,
p,
h1,
a {
    font: "Poppins", sans-serif;
}

button {
    cursor: pointer;
}


:root {
    --sans-font: "Poppins", sans-serif;
    --error-text-color: #FF0000;
    --error-background-color: #FFDADA;
    --primary-system-color: #238CFE;
}

html[data-theme='light'] {
    --background-color : #FFFFFF;
    --primary-app-color: #FF6994;
    --primary-system-color: #238CFE;

    --primary-text-color: #191919;
    --secondary-text-color: rgb(127, 127, 127);

    --line-color: #a6a6a6;
    --search-box-color: #d5d5d5;
    --menu-back-color: #F6F6F6;

    --text-input-color: #d5d5d5;
    --primary-text-button-color: #FEFEFE;
    --icon-color: #000;
}

html[data-theme='dark'] {
    --background-color : #000;
    --primary-app-color: #e95f9f;
    --primary-system-color: #34A0FD;

    --primary-text-color: #FEFEFE;
    --secondary-text-color: #737373;

    --line-color: #858585;
    --search-box-color: #252525;
    --menu-back-color: #171717 ;

    --text-input-color: #252525;
    --primary-text-button-color: #FEFEFE;
    --icon-color: #FEFEFE;
}

