@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection {
    background-color: #FF6994;
}

body {
    font: var(--sans-font);
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
}

span,
p,
h1,
a {
    font: "Poppins", sans-serif;
}

button {
    cursor: pointer;
}


:root {
    --sans-font: "Poppins", sans-serif;
    --error-text-color: #FF0000;
    --error-background-color: #FFDADA;


    /* Defaulting darkmode */
    --background-color : #FBFBFB;
    --primary-app-color: #FF6994;
    --primary-system-color: #238CFE;

    --primary-text-color: #191919;
    --secondary-text-color: rgb(127, 127, 127);

    --line-color: #a6a6a6;
    --search-box-color: #d5d5d5;
    --menu-back-color: #F6F6F6;

    --text-input-color: #d5d5d5;
    --primary-text-button-color: #FEFEFE;
    --icon-color: #FF6994;
}

html[data-theme='light'] {
    --background-color : #FFFFFF;
    --primary-app-color: #FF6994;
    --primary-system-color: #238CFE;

    --primary-text-color: #191919;
    --secondary-text-color: rgb(127, 127, 127);

    --line-color: #a6a6a6;
    --search-box-color: #d5d5d5;
    --menu-back-color: #F6F6F6;

    --text-input-color: #d5d5d5;
    --primary-text-button-color: #FEFEFE;
    --icon-color: #FF6994;
}

html[data-theme='dark'] {
    --background-color : #000;
    --primary-app-color: #e95f9f;
    --primary-system-color: #34A0FD;

    --primary-text-color: #FEFEFE;
    --secondary-text-color: #7F7F7F;

    --line-color: #858585;
    --search-box-color: #252525;
    --menu-back-color: #171717 ;

    --text-input-color: #252525;
    --primary-text-button-color: #FEFEFE;
    --icon-color: #e95f9f;
    --shadow-color: rgba(255,255,255, .35)
}



/* Bubble chat */
p {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
}
p:before, p:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
}
.from-me {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
}
.from-me:before {
    right: -7px;
    width: 20px;
    background-color: #0b93f6;
    border-bottom-left-radius: 16px 14px;
}
.from-me:after {
    right: -26px;
    width: 26px;
    background-color: white;
    border-bottom-left-radius: 10px;
}
.from-them {
    background: #e5e5ea;
    color: black;
    align-self: flex-start;
}
.from-them:before {
    left: -7px;
    width: 20px;
    background-color: #e5e5ea;
    border-bottom-right-radius: 16px;
}
.from-them:after {
    left: -26px;
    width: 26px;
    background-color: white;
    border-bottom-right-radius: 10px;
}
